body {
    
    padding-top: 54px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}

.ui.borderless.menu {
    background-color: #f8f8f8;
    box-shadow: none;
    flex-wrap: wrap;
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.ui.borderless.menu .header.item {
    font-size: 18px;
    font-weight: 400;
}

.ui.mobile.only.grid .ui.menu .ui.vertical.menu {
    display: none;
}

.ui.mobile.only.grid .ui.vertical.menu .dropdown.icon {
    float: unset;
}

.ui.mobile.only.grid .ui.vertical.menu .dropdown.icon:before {
    content: "\f0d7";
}

.ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu {
    position: static;
    width: 100%;
    background-color: unset;
    border: none;
    box-shadow: none;
}

.ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu {
    margin-top: 6px;
}

.ui.container > .ui.message {
    background-color: rga(238, 238, 238);
    box-shadow: none;
    padding: 5rem 4rem;
    margin-top: 1rem;
}

.ui.message h1.ui.header {
    font-size: 4.5rem;
}

.ui.message p.lead {
    font-size: 1.3rem;
    color: #333333;
    line-height: 1.4;
    font-weight: 300;
}

.hidden.menu {
    display: none;
  }

  .masthead.segment {
    min-height: 90px;
    padding: 1em 0em;
  }
  .masthead .logo.item img {
    margin-right: 1em;
  }
  .masthead .ui.menu .ui.button {
    margin-left: 0.5em;
  }
  .masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }
  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
  }

  .ui.vertical.stripe {
    padding: 8em 0em;
  }
  .ui.vertical.stripe h3 {
    font-size: 2em;
  }
  .ui.vertical.stripe .button + h3,
  .ui.vertical.stripe p + h3 {
    margin-top: 3em;
  }
  .ui.vertical.stripe .floated.image {
    clear: both;
  }
  .ui.vertical.stripe p {
    font-size: 1.33em;
  }
  .ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
  }

  .quote.stripe.segment {
    padding: 0em;
  }
  .quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .footer.segment {
    padding: 5em 0em;
  }

  .secondary.pointing.menu .toc.item {
    display: none;
  }

  @media only screen and (max-width: 700px) {
    .ui.fixed.menu {
      display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
      display: none;
    }
    .secondary.pointing.menu .toc.item {
      display: block;
    }
    .masthead.segment {
      min-height:90px;
    }
    .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }
    .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
  }
  #mainp1{
    font-size: 20px;
}

input[type=email], select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text], select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.abutton {
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #B69EDE;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}



.abutton:active {
  background-color: #611BD5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


